@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.content-container {
  width: 1160px;
  margin: 0 auto;
}

/*  header  */

.header-container {
  background-color: #ffe17f;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
}

.page-header {
  background: #ffe17f;
  color: #000000;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  padding: 50;
  list-style-type: none;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.user-navigation-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffe17f;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: #ffe17f;
}

.dropdown-catalog {
  font-size: 16px;
  line-height: 18px;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*  main  */

.main-container {
  flex-grow: 1;
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.categories-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-navigation-item {
  width: 160px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0;
  padding: 0;
}

.about {
  width: 560px;
}

.contacts-address {
  width: 560px;
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-more,
.contact-us,
.about-more-details,
.services-button,
.button-information {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.slider-item th {
  font-weight: 400;
  font-size: 16px;
}

.slider-item td {
  font-size: 36px;
  color: #000000;
}

.categories-image {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
}

.services-item {
  background-color: #f0f0f0;
}

.delivery {
  color: #000000;
  background-color: #f0f0f0;
}

.delivery-order {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*  footer  */

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.contacts-address-footer {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.page-footer-container {
  display: flex;
  width: 1440px;
  justify-content: center;
  margin: 0 auto;
}

.footer-navigation-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter {
  background-color: #ebebeb;
}
