@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-container {
  width: 1160px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

/*  header  */

.header-container {
  background-color: #ffe17f;
  color: #000000;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
}

.page-header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(40px, auto) minmax(50px, auto);
  row-gap: 20px;
  grid-template-areas:
    "search user"
    "nav nav";
  width: 1080px;
  padding: 79px 40px 0 40px;
  color: #000000;
}

.header-search {
  grid-area: search;
}

.page-navigation {
  grid-area: nav;
}

.users-navigation {
  grid-area: user;
  margin: 0;
}

.header-logo-link {
  position: absolute;
  left: 61px;
  top: 17px;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 0;
  list-style-type: none;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.user-navigation-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffe17f;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.dropdown-catalog {
  font-size: 16px;
  line-height: 18px;
}

/*  main  */

.main-container {
  flex-grow: 1;
  width: 1160px;
  margin: 0 auto;
}

.slider-product {
  margin-bottom: 70px;
}

.slider-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 560px 600px;
}

.categories-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-navigation-item {
  width: 160px;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  justify-content: space-between;
  width: 1160px;
  margin: 0;
  padding: 0;
}

.about {
  width: 560px;
}

.contacts-address {
  width: 560px;
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-more,
.contact-us,
.about-more-details,
.services-button,
.button-information {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.slider-item th {
  font-weight: 400;
  font-size: 16px;
}

.slider-item td {
  font-size: 36px;
  color: #000000;
}

.categories-image {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
}

.services-item {
  background-color: #f0f0f0;
}

.delivery {
  color: #000000;
  background-color: #f0f0f0;
}

.delivery-order {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*  footer  */

.page-footer {
  background-color: #444444;
  color: #ffffff;
  position: relative;
}

.page-footer-container {
  display: grid;
  grid-template-columns: 300px 560px 300px;
  grid-template-rows: minmax(38px, auto) minmax(40px, auto);
  grid-template-areas:
    "address nav phone"
    ". social site";
  row-gap: 49px;
  width: 1160px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 133px;
  padding-bottom: 61px;
}

/* ссылка - logo*/

.footer-logo-link {
  position: absolute;
  top: 62px;
  left: auto;
}

/* Адрес и телефон */
.contacts-address-text {
  grid-area: address;
  margin: 0;
}

.contacts-phone {
  grid-area: phone;
  justify-self: end;
}

.contacts-address-footer {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

/* footer nav*/

.footer-navigation {
  grid-area: nav;
}

.footer-navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  list-style-type: none;
}

.footer-navigation-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* соц. сети*/

.footer-social {
  grid-area: social;
  justify-self: center;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-button {
  display: block;
  width: 40px;
  height: 40px;

  outline: 1px dashed #ffe17f; /* рамки */
  outline-offset: -1px; /* рамки */
}

/* ссылка академия*/

.academy-link {
  grid-area: site;
  justify-self: end;
}

/*внутренная страница*/
/* каталог*/

.inner-header {
  box-sizing: border-box;
  padding: 37px 0 49px 60px;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  padding-right: 35px;
}

/*__________*/

.catalog-conteiner {
  box-sizing: border-box;
	margin: 0px auto;
	width: 1440px;
	padding: 0px 20px;
}

.main-catalog {
	background: hsl(0deg 0% 90%);
}

.catalog__layout {
	--layout-gap: 70px;
	display: grid;
	grid-template-columns: 1fr 972px;
	grid-template-rows: repeat(3, min-content);
	gap: var(--layout-gap);
}

.catalog__layout::before {
	content: "";
	z-index: 0;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin-left: -100vw;
	background-color: hsl(0deg 0% 86%);
}

.catalog__layout::after {
	--outward-shift: max(200vw, calc(1440px * 2));
	content: "";
	z-index: 0;
	grid-column: -2 / -1;
	grid-row: 2 / 4;
	margin-top: calc(-1 * var(--layout-gap));
	margin-left: calc(-1 * var(--layout-gap));
	width: calc(var(--outward-shift) - 100vw);
	background-color: hsl(0deg 0% 100%);
	transform: translatex(calc(-1 * var(--outward-shift)));
	box-shadow: var(--outward-shift) 0px hsl(0deg 0% 100%);
}

.catalog-heading-filtration {
	z-index: 1;
	grid-area: 1 / 1;
	padding: 12px 70px 12px 60px;
}

.catalog-filter {
	grid-area: 2 / 1 / -1 / 2;
	padding: 0px 70px 0px 60px;
}

.catalog-sorting {
	grid-area: 1 / 2;
	margin: 12px 0px;
}

.catalog-products {
	z-index: 1;
	grid-area: 2 / 2;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-pagination {
	z-index: 1;
	grid-area: 3 / 2;
	margin: 0px;
	margin-bottom: 70px;
	padding: 0px;
	list-style: none;
}

.sorting {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	width: 972px;
}

.product__item {
	display: grid;
	place-items: center;
	width: 360px;
	height: 460px;
	font-size: 50px;
	font-weight: 700;
	background-color: hsl(0deg 0% 93% / 0.7);
}

.pagination {
	display: flex;
	gap: 30px;
	padding: 25px 30px;
	background-color: hsl(0deg 0% 92%);
}

.patination-item {
	flex-shrink: 1;
	flex-grow: 0;
}

.pagination-prev {
	margin-right: auto;
}

.pagination-next {
	margin-left: auto;
}
