@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-container {
  width: 1160px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

.button {
  --button-after-color: #ffe17f;
  z-index: 1;
  position: relative;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.button::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  background-color: var(--button-after-color);
}

/*  header  */

.header-container {
  background-color: #ffe17f;
  color: #000000;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 40px;
}

.page-header {
  position: relative;
  display: grid;
  grid-template-columns: /*repeat(2, 1fr)*/ 500px 500px;
  grid-template-rows: minmax(40px, auto) minmax(50px, auto);
  row-gap: 29px;
  column-gap: 40px;
  grid-template-areas:
    "search user"
    "nav nav";
  width: 1160px;
  padding: 48px 60px 0 60px;
  color: #000000;
}

.header-logo-link {
  position: absolute;
  margin-top: -40px;
  left: 61px;
  top: 17px;
}

.header-logo-link:hover .page-header-logo {
  opacity: 0.7;
}

.header-logo-link:focus .page-header-logo {
  opacity: 0.7;
}


.header-search {
  grid-area: search;
  position: relative;
  box-sizing: border-box;
  width: 516px;
  height: 40px;
  margin-left: 3px;
}

.header-search-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-image: url("../img/nav_header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-search-field {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 170px 10px 0;
  padding-left: 36px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 20px;
}

.header-search-field::placeholder {
  color: #b39e59;
}

.header-search-field:hover::placeholder {
  color: #665a33;
}

.header-search-field:focus {
  border-color: #af4fff;
  outline: none;
}

.header-search-field:not(:placeholder-shown) {
  border-color: #000000;
  outline: none;
}

.search-button {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 160px;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #000000;
  background: none;
  background-color: #ffe17f;
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: #4c4c4c;
}

.search-button:focus {
  border-color: #af4fff;
  outline: none;
}

.search-button:focus:not(:focus-visible) {
  border-color: #000000;
  outline: none;
}

.search-button:focus-visible {
  border-color: #af4fff;
  outline: none;
}

.header-search-field:placeholder-shown + .search-button {
  display: none;
}

.page-navigation {
  grid-area: nav;
  position: relative;
}

.users-navigation {
  grid-area: user;
  margin: 0;
}

.user-menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.user-navigation-item {
  text-align: center;
}

.user-navigation-item:first-child {
  margin-right: auto;
}

.user-navigation-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  background-color: #ffe17f;
}

.user-navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: -1px;
  border-radius: 20px;
}

.user-navigation-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -1px;
}

.user-navigation-link:hover {
  opacity: 0.6;
}

.user-navigation-link:active {
  opacity: 0.3;
}

.link-login,
.link-user {
  padding: 9px 23px 10px 45px;
  background: no-repeat url("../img/nav_header/user.svg") left 20px bottom 14px/13px 12px;
}

.link-output {
  position: absolute;
  left: 157px;
  top: 1px;
  bottom: 0;
  padding: 9px 23px 10px 23px;
}

.link-output span {
  opacity: 0.3;
}

.link-compare {
  padding: 9px 20px 10px 40px;
  background: no-repeat url("../img/nav_header/compare.svg") left 20px bottom 14px/10px 12px;
}

.link-cart {
  position: relative;
  padding: 9px 0 10px 42px;
  background: no-repeat url("../img/nav_header/basket.svg") left 17px bottom 14px/16px 14px;
}

.counter-cart {
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 0;
  top: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
  line-height: 21px;
}

/*------------------------*/

.navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  margin: 0;
  flex-basis: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.navigation-item-delivery {
  display: block;
  margin-left: 300px;
}

.navigation-item-warranty {
  margin-right: 50px;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  text-decoration: inherit;
  text-align: center;
  box-sizing: border-box;
  border-radius: 25px;
  border: 2px solid transparent;
  color: inherit;
  transition: 0.2s all ease-in;
}

.navigation-link:hover {
  text-decoration: underline 2px;
  text-underline-offset: 8px;
}

.navigation-link:focus {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
  border-radius: 25px;
}

.navigation-link:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}

.navigation-link:focus-visible {
  box-shadow: 0 0 0 2px #af4fff;
  outline: none;
  border-radius: 25px;
}

.navigation-link:active {
  box-shadow: 0 0 0 0;
  opacity: 0.3;
}

.dropdown-catalog {
  display: flex;
  align-items: flex-start;
  width: 1115px;
  padding: 29px 0 42px 45px;
  background-color: #ffe17f;
  list-style-type: none;
}

.navigation-item--catalog {
  --after-background: url("../img/plus.svg");
  --after-opacity: 0.2;
  --dropdown-visibility: none;
  align-self: start;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

.catalog-dropdown-item {
  margin-right: 15px;
}

.catalog-dropdown-item:nth-child(3) {
  margin-left: 14px;
}

.dropdowm-catalog-subsection {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dropdowm-catalog-subsection li {
  width: fit-content;
  margin-bottom: 9px;
}

.dropdown-catalog-link {
  display: block;
  padding: 4px 16px 5px 15px;
  font-size: 16px;
  line-height: 18px;
  border-radius: 25px;
}

.catalog-dropdown-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.dropdown-catalog-link:focus:not(:focus-visible) {
  outline: none;
}

.dropdown-catalog-link:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.dropdown-catalog-link:hover {
  opacity: 0.6;
}

.dropdown-catalog-link:active {
  opacity: 0.3;
}

/*  main  */

.main-container {
  flex-grow: 1;
  width: 1160px;
  margin: 0 auto;
}

.slider-product {
  margin-bottom: 70px;
}

.slider-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: grid;
  grid-template-columns: 560px 600px;
}

/*категории товаров*/

.categories-navigation-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-navigation-item {
  width: 160px;
}

.categories-image {
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
}

.categories-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.categories-navigation-item:hover img {
  background-color: #ffc700;
}

.categories-link:focus {
  outline: none;
  color: #af4fff;
}

.categories-link:focus img {
  outline: 5px solid #af4fff;
}

.categories-navigation-item:active {
  opacity: 0.3;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  justify-content: space-between;
  width: 1160px;
  margin: 0;
  padding: 0;
}

.slider-slogan {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-more,
.contact-us,
.about-more-details,
.services-button,
.button-information {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
}

.slider-item th {
  font-weight: 400;
  font-size: 16px;
}

.slider-item td {
  font-size: 36px;
  color: #000000;
}

.services-item {
  background-color: #f0f0f0;
}

/*доставка*/

.delivery {
  color: #000000;
  background-color: #f0f0f0;
  margin-bottom: 97px;
}

.delivery-order {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ffe17f 125px, #f0f0f0 125px);
}

.delivery-order::before {
  content: "";
  position: absolute;
  left: 0;
  width: 125px;
  height: 100px;
  background: no-repeat url("../img/car_delivery.svg") 39px 35px / 47px 31px;
}

.delivery-order::after {
  content: "";
  position: absolute;
  right: 33px;
  width: 40px;
  height: 40px;
  background: no-repeat url("../img/info.svg") center / 2px 12px;
  background-color: #dcdcdc;
  border-radius: 20px;
  opacity: 0.5;
}

.delivery-order:focus {
  outline: 5px solid #af4fff;
  outline-offset: -1px;
}

.delivery-order:focus:not(:focus-visible) {
  outline: none;
}

.delivery-order::after:focus-visible {
  outline: 5px solid #af4fff;
  outline-offset: -1px;
}

.delivery-order:hover {
  background-image: linear-gradient(to right, #ffc700 125px, #f0f0f0 125px);
}

.delivery-order:hover::after {
  opacity: 1;
}

.delivery-order:active::before,
.delivery-order:active span {
  opacity: 0.3;
}

.delivery-order:active::after {
  opacity: 0.5;
}

/*о нас*/

.about {
  width: 560px;
  position: relative;
}

/*контакты, адресс*/

.contacts {
  width: 560px;
  position: relative;
}

.about::before,
.contacts::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0;
  left: 0;
}

/*  footer  */

.page-footer {
  background-color: #444444;
  color: #ffffff;
  position: relative;
}

.page-footer-container {
  display: grid;
  grid-template-columns: 300px 560px 300px;
  grid-template-rows: minmax(38px, auto) minmax(40px, auto);
  grid-template-areas:
    "address nav phone"
    ". social site";
  row-gap: 49px;
  width: 1160px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 133px;
  padding-bottom: 61px;
}

/* ссылка - logo*/

.footer-logo-link {
  position: absolute;
  top: 62px;
  left: auto;
}

/* Адрес и телефон */
.contacts-address-text {
  grid-area: address;
  margin: 0;
}

.contacts-phone {
  grid-area: phone;
  justify-self: end;
}

.contacts-address-footer {
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

/* footer nav*/

.footer-navigation {
  grid-area: nav;
}

.footer-navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  list-style-type: none;
}

.footer-navigation-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* соц. сети*/

.footer-social {
  position: relative;
  grid-area: social;
  justify-self: center;
}

.footer-social::after {
  content: "";
  position: absolute;
  top: 17px;
  left: -500px;
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-button {
  --icon-fill: #444444;
  --icon-opacity: 1;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #7c7c7c;
  outline-offset: -1px;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--icon-fill);
  opacity: var(--icon-opacity);
}

/* ссылка академия*/

.academy-link {
  grid-area: site;
  justify-self: end;
}

/*внутренная страница*/
/* каталог*/

.inner-header {
  box-sizing: border-box;
  padding: 37px 0 49px 60px;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  padding-right: 35px;
}

/*__________*/

.catalog-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1160px;
  padding: 0 20px;
}

.main-catalog {
  background: hsl(0deg 0% 90%);
}

.catalog__layout {
  --layout-gap: 70px;
  display: grid;
  grid-template-columns: 1fr 762px;
  grid-template-rows: repeat(3, min-content);
  gap: var(--layout-gap);
}

.catalog__layout::before {
  content: "";
  z-index: 0;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: -100vw;
  background-color: hsl(0deg 0% 86%);
}

.catalog__layout::after {
  --outward-shift: max(200vw, calc(1440px * 2));
  content: "";
  z-index: 0;
  grid-column: -2 / -1;
  grid-row: 2 / 4;
  margin-top: calc(-1 * var(--layout-gap));
  margin-left: calc(-1 * var(--layout-gap));
  width: calc(var(--outward-shift) - 100vw);
  background-color: hsl(0deg 0% 100%);
  transform: translateX(calc(-1 * var(--outward-shift)));
  box-shadow: var(--outward-shift) 0 hsl(0deg 0% 100%);
}

.catalog-heading-filtration {
  z-index: 1;
  grid-area: 1 / 1;
  padding: 12px 70px 12px 60px;
}

.catalog-filter {
  grid-area: 2 / 1 / -1 / 2;
  padding: 0 70px 0 60px;
}

.catalog-sorting {
  grid-area: 1 / 2;
  margin: 12px 0;
}

.catalog-products {
  z-index: 1;
  grid-area: 2 / 2;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-pagination {
  z-index: 1;
  grid-area: 3 / 2;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}

.sorting {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sort-list {
  display: block;
  width: 10px;
  height: 10px;
  list-style-type: none;

  outline: 1px dashed #000000; /* рамки */
  outline-offset: -1px; /* рамки */
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  width: 760px;
  list-style-type: none;
  padding: 0;
}

.product__item {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 360px;
  height: 460px;
  font-size: 50px;
  font-weight: 700;
  background-color: hsl(0deg 0% 93% / 0.7);
}

.pagination {
  display: flex;
  gap: 30px;
  padding: 25px 30px;
  background-color: hsl(0deg 0% 92%);
}

.patination-item {
  flex-shrink: 1;
  flex-grow: 0;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

/*popover*/

.popover {
  position: absolute;
  top: 43px;
  right: -88px;
  z-index: 16;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  min-height: 250px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  /*display: none;*/
}

.popover::before {
  content: "";
  width: 14px;
  height: 6px;
  top: -6px;
  left: 151px;
  background-image: url("../img/triangle.svg");
  position: absolute;
}

.popover-cart {
  width: 320px;
}

.popover-open {
  display: none;
}

.popover-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cart-items-list {
  padding: 0;
  margin: 0;
}

.cart-item {
  padding: 20px 13px 19px 20px;
  margin: 0;
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-link {
  margin-right: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.cart-link:hover .product-title {
  color: rgba(255, 255, 255, 0.6);
}

.cart-link:focus {
  outline: none;
}

.cart-link:focus-visible {
  outline: none;
}

.cart-link:focus-visible .product-image {
  box-shadow: 0 0 0 5px #af4fff;
}

.cart-link:focus-visible .product-title {
  color: #af4fff;
}

.cart-link:active .product-title {
  color: rgba(255, 255, 255, 0.3);
}

.product-image {
  margin-right: 23px;
}

.product-title {
  margin: 0;
  padding: 0;
  width: 180px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: normal;
}

.cart-item-button {
  align-self: flex-start;
  width: 25px;
  height: 25px;
  background-color: #000000;
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  background-image: url("../img/delete.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.cart-item-button:focus:not(:focus-visible) {
  outline: none;
  border: none;
}

.cart-item-button:focus-visible {
  outline: none;
  border: 2px solid #af4fff;
}

.cart-item-button:active {
  opacity: 0.3;
}

.total-wrap {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a1a;
  min-height: 44px;
}

.popover-link {
  margin: 20px;
  width: 280px;
  padding: 15px 0;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.popover-link:hover {
  background-color: #ffe17f;
}

.popover-link:focus {
  outline: none;
  box-shadow: 0 0 0 5px #af4fff;
}

.popover-link:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.popover-link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 5px #af4fff;
}

.popover-link:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffe17f;
}

/*модальное окно*/

.modal-container {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 920px;
}

.modal-header {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  padding: 63px 70px;
  color: #000000;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  cursor: initial;
}

.modal-container-close {
  display: none;
}

.modal-container-open {
  display: flex;
}

.modal-title {
  margin: 0;
  padding-right: 70px;
  margin-bottom: 67px;
  outline: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.modal-close-button {
  position: absolute;
  top: 67px;
  right: 58px;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  background: no-repeat url("../img/delete-black.svg") center / 26px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 5px solid #af4fff;
}

.modal-close-button:focus-visible {
  outline: 5px solid #af4fff;
}

.modal-form {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.modal-form-grid {
  display: grid;
  grid-template-columns: 360px 160px 160px;
  grid-template-rows: 119px minmax(94px, auto);
  grid-template-areas:
    "name email email"
    "comment comment quantity";
  column-gap: 40px;
  row-gap: 15px;
}

.field-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.order-form-name {
  grid-area: name;
}

.order-form-email {
  grid-area: email;
}

.order-form-comment {
  grid-area: comment;
}

.order-form-quantity {
  grid-area: quantity;
}

.button-quantity {
  display: block;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-form-label {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 18px;
  display: block;
  color: var(--b-black);
  position: relative;
  align-self: flex-start;
  margin-bottom: 14px;
}

.modal-form-icon {
  position: absolute;
  top: 56px;
  right: 20px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  opacity: 0.25;
  pointer-events: none;
}

.modal-icon-name {
  background-image: url("../img/nav_header/user.svg");
}

.modal-icon-email {
  background-image: url("../img/mail.svg");
}

.modal-form-field {
  box-sizing: border-box;
  min-width: 0;
  height: 60px;
  padding: 20px;
  padding-right: 45px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background: none;
  background-color: #f0f0f0;
  border: none;
}

.modal-form-field:disabled {
  background-color: #d8d8d8;
}

.modal-form-field:disabled::placeholder {
  color: transparent;
}

.modal-form-field:not(:placeholder-shown) {
  border: 3px solid #000000;
}

.modal-form-field:focus {
  outline: 5px solid #af4fff;
}

.delivery-form__input--comment {
  resize: vertical;
  padding: 20px;
}

.modal-form-field-comment:not(:placeholder-shown) {
  padding: 17px 17px;
}

.modal-form-field-quantity {
  padding: 10px 50px;
  width: 160px;
  text-align: center;
  appearance: textfield;
}

.modal-form-field-quantity:not(:placeholder-shown) {
  border: none;
}

.quantity-block {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: #f0f0f0;
}

.field-subtitle {
  margin-top: 6px;
  font-size: 14px;
  line-height: 20px;
}

.error-modal-text {
  color: #ff3d3d;
}

.modal-form-field:disabled ~ .dfield-subtitle {
  color: #dcdcdc;
}

.info-hint {
  position: absolute;
  top: -2px;
  right: -35px;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  border-radius: 15px;
}

.info-hint::before {
  content: "";
  transform: translateY(50%);
  display: block;
  width: 2px;
  height: 12px;
  margin: auto;
  background: no-repeat url("../img/info.svg") center / 2px 12px;
}

.info-hint:hover .info-tooltip {
  display: block;
}

.info-tooltip {
  --popover-width: 200px;
  --horizontal-shift: 53px;
  position: absolute;
  top: 36px;
  right: -34px;
  display: none;
  box-sizing: border-box;
  width: var(--popover-width);
  padding: 19px 17px 21px 17px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #ffffff;
  background-color: #000000;
}

.button-quantity-minus,
.button-quantity-plus {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 0;
}

.button-quantity-minus {
  order: -1;
  left: 0;
}

.button-quantity-plus {
  order: -1;
  right: 0;
}

.button-quantity-minus::before,
.button-quantity-plus::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 4px;
  width: 32px;
  height: 32px;
  margin: auto;
  border-radius: 30px;
}

.button-quantity-plus::before {
  left: -3px;
}

.button-quantity-minus::after,
.button-quantity-plus::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.button-quantity-minus:hover::after,
.button-quantity-plus:hover::after {
  opacity: 1;
}

.button-quantity-minus:active,
.button-quantity-plus:active {
  opacity: 0.1;
}

.button-quantity-minust:focus,
.button-quantity-plus:focus {
  outline: none;
}

.button-quantity-minus:focus::before,
.button-quantity-plus:focus::before {
  outline: 2px solid #af4fff;
  outline-offset: -2px;
}

.modal-form-field-quantity:disabled ~ .button-quantity {
  pointer-events: none;
}

.button-order-submit {
  display: block;
  margin-top: 45px;
  margin-bottom: 4px;
  padding: 9px 28px 10px 31px;
  color: rgba(0, 0, 0, 1);
}

.button-order-submit::after {
  background-color: #ffc700;
}

.button-order-submit:focus {
  outline: none;
}

.button-order-submit:hover::after {
  height: 100%;
}

.button-order-submit:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-order-submit:focus::after {
  background-color: #af4fff;
}

.button-order-submit:focus:not(:focus-visible)::after {
  background-color: #ffc700;
}

.button-order-submit:focus-visible::after {
  background-color: #af4fff;
}
